<a href="https://colab.research.google.com/github/AngelTroncoso/Data_Science/blob/main/IntroduccionAPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase  : Introducción a la programación con Python

### Tipo de Datos

* Simple:

#### Número Entero (int)
Este tipo de dato se corresponde con números enteros, es decir, sin parte decimal.

In [1]:
# 1. Pon valores de sin decimal, por ejemplo: 99, 59 ,1 ,10
entero = 10
print("El resultado de la variable es:",entero,"de tipo",type(entero))

El resultado de la variable es: 10 de tipo <class 'int'>

#### Número Decimal (float)

Este tipo de dato se corresponde con números reales con parte decimal. Cabe destacar que el separador decimal en Python es el punto (.) y no la coma (,).

In [2]:
# 1. Pon valores de sin decimal, por ejemplo: 1.0, 3.879 , 78.0001 ,10.9999
decimal = 1.0
print("El resultado de la variable es:",decimal,"de tipo",type(decimal))

El resultado de la variable es: 1.0 de tipo <class 'float'>

#### Booleano (bool)

Este tipo de dato reconoce solamente dos valores: Verdadero (True) y Falso (False)

In [3]:
# 1. Pon valores de True o False
# 2. Incluye la variable Booleano en la función print
Booleano = False
print("El resultado de la variable es:",Booleano,"de tipo",type(Booleano))

El resultado de la variable es: False de tipo <class 'bool'>

#### String

El tipo de dato String se utiliza para representar una cadena de caracteres (texto)

In [4]:
x = "poderes magicos"

In [5]:
# 1. Pon en la variable String "Hola Mundo!"
# 2. Remplazar la variable String por _
String = x
print("El resultado de la variable es:{0} de tipo {1} ".format(String,type(String)))

El resultado de la variable es:poderes magicos de tipo <class 'str'>

### Tipo de Datos

* Estructurado (Colección):

#### Lista
Las listas en Python son un tipo de dato que permirte contener cualquier variable sin importar que tipo de dato sea.

In [6]:
# 1. Utiliza la variables previamente asignadas en la lista (String, Booleano, decimal, entero)
Lista = [String, Booleano,decimal, entero]
print(Lista)

['poderes magicos', False, 1.0, 10]

In [7]:
type(Lista)

list

In [8]:
Lista[2:]

[1.0, 10]

* Curiosidad: La lista de una lista se le conoce como lista anidada

In [9]:
[[1, 2, 3], [4, 5, 7]], [[5,7,9]]

([[1, 2, 3], [4, 5, 7]], [[5, 7, 9]])

<p>Acceder al componente de una lista, se debe hacer los siguiente ---> lista[0]: Primer valor <br>
Para acceder el ultimo componente de la lista puedes poner el número N-1 o -1 ---> lista[-1]: Primer valor</p>

In [10]:
# 1. Accede al primer y segundo componente
# 2. Accede al ultimo valor y penultimo valor

print(Lista[0])
print(Lista[1])
print(Lista[-1])
print(Lista[-2])

poderes magicos
False
10
1.0

#### Diccionarios

En los Diccionarios cada elemento se compone de un par clave-valor, y para su definición es necesario encerrar los elementos entre llaves.

In [11]:
# 1. Agrega el año de nacimiento de John F. Kennedy (1917)
# 2. Luego en modo lista junto con la muerte 1963
# {key:valor}

diccionario = {"Nacimiento y Muerte":[1917,1963],"Nombre": "John F. Kennedy"}
print(diccionario)

{'Nacimiento y Muerte': [1917, 1963], 'Nombre': 'John F. Kennedy'}

In [12]:
diccionario.keys()

dict_keys(['Nacimiento y Muerte', 'Nombre'])

In [13]:
diccionario.values()

dict_values([[1917, 1963], 'John F. Kennedy'])

#### Tuplas

Las Tuplas son básicamente Listas de elementos estáticas, es decir, que no pueden modificarse (decimos que las Tuplas son inmutables en Python). Para su definición, en lugar de corchetes se encierran valores separados por comas entre paréntesis.

In [14]:
# 1. Utiliza la variables previamente asignadas en la lista (String, Booleano, decimal, entero)
Tuple  = (String, Booleano, decimal, entero)
print(Tuple)

('poderes magicos', False, 1.0, 10)

In [15]:
Lista[0] = True

In [16]:
Lista

[True, False, 1.0, 10]

In [17]:
Tuple

('poderes magicos', False, 1.0, 10)

In [18]:
Tuple[0] = "Argetina"

TypeError: 'tuple' object does not support item assignment

## Operadores

In [19]:
a = 10
b = 3

In [20]:
a, b = 10, 3

In [21]:
print("=== Operadores Aritméticos ===")
a, b = 10, 3
print("Suma:", a + b)
print("Resta:", a - b)
print("Multiplicación:", a * b)
print("División:", a / b)
print("División Entera:", a // b)
print("Módulo:", a % b)
print("Exponente:", a ** b)

=== Operadores Aritméticos ===
Suma: 13
Resta: 7
Multiplicación: 30
División: 3.3333333333333335
División Entera: 3
Módulo: 1
Exponente: 1000

In [22]:
x = 5

In [23]:
print("\n=== Operadores de Asignación ===")
x = 5
x += 3     # x = x + 3
print("x += 3:", x)
x *= 2     # x = x * 2
print("x *= 2:", x)
x -= 1     # x = x - 1
print("x -= 1:", x)
x /= 3     # x = x / 3
print("x /= 3:", x)

=== Operadores de Asignación ===
x += 3: 8
x *= 2: 16
x -= 1: 15
x /= 3: 5.0

In [24]:
a, b = 10, 3
print("\n=== Operadores de Comparación ===")
print("¿a == b?", a == b)
print("¿a != b?", a != b)
print("¿a > b?", a > b)
print("¿a < b?", a < b)
print("¿a >= b?", a >= b)
print("¿a <= b?", a <= b)

=== Operadores de Comparación ===
¿a == b? False
¿a != b? True
¿a > b? True
¿a < b? False
¿a >= b? True
¿a <= b? False

### ESTRUCTURAS DE CONTROL:
FOR, WHILE, IF

In [25]:
x = 10
y = 20

In [26]:
if y < x: #Si esto es Verdadero
  print("primer condición 1")
else: #Si no se cumple lo anterior, se ejecutara esta respuesta por default
  print("segunda condición 2 ")

segunda condición 2

Estructura condicional (IF)

In [27]:
# 1. Intenta cambiar x por 5
# 2. Intenta cambiar x por 10
# 3. Intenta cambiar x por 100

x = 10
if x < 10:                     # Pregunto si x es menor a 10
    print(x, "es menor a 10")   # Si es así muestro mensaje
elif x > 10:                    # Si no es así, pregunto si x es mayor
    print(x, "es mayor a 10")   # a 10 y si es así muestro mensaje
else:                           # Si nada de lo anterior se
    print(x, "es 10")           # cumple, ejecuto esto

10 es 10

#### Estructura FOR

Primera forma

In [28]:
# for i in rango(1,2,3,4,5,6,7,8,9) = range(1 incluyente,10 excluyente) ---
# primera iteración 1: i = 1
# segunda iteración 2: i = 2
# tercer iteración 3: i = 3...

for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

Segunda Forma

In [29]:
#primera iteración: a = 1
#segunda iteración: a = 4
#cuarta iteración: a = 2

for a in [1,4,6,2,String, entero]:
    print(a)

1
4
6
2
poderes magicos
10

Combina utiliza For con condicional If

In [30]:
#4%2 : par
#5%2 : impar
#6%2 : par
#7%2 : impar

if 8%2 ==0:
  print("Esto es un par")
else:
  print("Esto es un impar")

Esto es un par

In [31]:
# 1. Evalua si el valor dentro de la lista es par
# 2. Utiliza el operador modulo %
# 3. Recuerda utilizar i

for i in [2,4,6,7]:
    if  i%2== 0:
        print("Es par {}".format(i))
    else:
        print("No es par {}".format(i))

Es par 2
Es par 4
Es par 6
No es par 7

In [32]:
# 1. Evalua si el valor dentro de la lista es par
# 2. Utiliza el operador modulo %
# 3. Recuerda utilizar i

for i in range(1,10):
    if  i%2== 0:
        print("Es par {}".format(i))
    else:
        print("No es par {}".format(i))

No es par 1
Es par 2
No es par 3
Es par 4
No es par 5
Es par 6
No es par 7
Es par 8
No es par 9

In [33]:
x = 2
print("Esto es un par", x )

Esto es un par 2

In [34]:
"Esto es un par {}".format(x)

'Esto es un par 2'

#### Estructura WHILE
Repite una secuencia de comandos “mientras” una condición se cumpla. Cuando la condición no se cumple más, termina la repetición.

In [35]:
#Iteración 1:
# i = 1
# While pregunta si i<5 ---1<5 (True)
# print(i) : su valor es 1
# i=i+1 ---> i=1+1 ---> i = 2

#Iteración 2
# i = 2
# While pregunta si i < 5 ----> i = 2 (True)
# print(i) : su valor es 2
# i=i+1 ---> i=2+1 ---> i = 3
#.....One million year+

#Iteración 5
# i = 5
# While pregunta si i < 5 ----> i = 5 (False)
#Termina la ejecución

i = 1
while i < 5:   # el código luego de los dos puntos se ejecuta
    print(i)        # mientras i es menor a 10.
    i += 1          #i=i+1  # cuando i llega a 10 termina la ejecución

1
2
3
4

In [36]:
# while True:
  # print("Se ejecuta")

Siempre pongan un incremental en el While!

### Funciones, argumentos y retorno

Las funciones tienen al menos 3 elementos:
* El nombre de la función
* Cero o más argumentos (variables de entrada)
* Un valor de retorno (salida de la función)

In [37]:
def suma(x,y):  # aquí definimos una función propia con argumentos x e y
    z = x + y   # la función suma los valores x e y, y asigna resultado a z
    return z    # el valor de retorno es z

res = suma(2,7) # aplicamos la función definida a los números 2 y 3
                # y guardamos el resultado en res
print (res)     # mostramos el resultado: 2 + 3 = 5

9

In [38]:
def promedio(elemento1, elemento2, elemento3):
  resultado = (elemento1 + elemento2 + elemento3)/3
  return resultado

In [39]:
promedio(10,10,10)

10.0

In [40]:
def promedio(elemento1=0, elemento2=0, elemento3=0):
  resultado = (elemento1 + elemento2 + elemento3)/3
  return resultado

In [41]:
promedio(elemento2 = 10,elemento3 = 10)

6.666666666666667

## Ejercicio Generico

In [44]:
# Ejercicio 1.
# Se busca el factorial de x = 5!---> 1*2*3*4*5
# Se va a requerir un for usando un range
# Recuerden usar los operadores aritmeticos de la clase 3.
# Remplazar ___ por la respuesta

fac = _
# Ejercicio 1.
# Se busca el factorial de x = 5!---> 1*2*3*4*5
# Se va a requerir un for usando un range
# Recuerden usar los operadores aritmeticos de la clase 3.
# Remplazar ___ por la respuesta

fac = 1

for i in range(1,6):
    fac *= i  # fac =  fac * i

print("Resultado del factorial es: ", fac)

Resultado del factorial es:  120

In [46]:
# Ejercicio 2.
# Se sumar  1 al 100 por ejemplo: 1+2+3+4+5... +100
# Se va a requerir un for usando un range
# Recuerden usar los operadores aritmeticos de la clase 3.
# Remplazar ___ por la respuesta

suma = _

# Ejercicio 2.
# Se sumar  1 al 100 por ejemplo: 1+2+3+4+5... +100
# Se va a requerir un for usando un range
# Recuerden usar los operadores aritmeticos de la clase 3.
# Remplazar ___ por la respuesta

suma = 0

for i in range(1,101):
    print(i,suma)
    suma = suma +i

print("Resultado de la suma es: ",suma)

1 0
2 1
3 3
4 6
5 10
6 15
7 21
8 28
9 36
10 45
11 55
12 66
13 78
14 91
15 105
16 120
17 136
18 153
19 171
20 190
21 210
22 231
23 253
24 276
25 300
26 325
27 351
28 378
29 406
30 435
31 465
32 496
33 528
34 561
35 595
36 630
37 666
38 703
39 741
40 780
41 820
42 861
43 903
44 946
45 990
46 1035
47 1081
48 1128
49 1176
50 1225
51 1275
52 1326
53 1378
54 1431
55 1485
56 1540
57 1596
58 1653
59 1711
60 1770
61 1830
62 1891
63 1953
64 2016
65 2080
66 2145
67 2211
68 2278
69 2346
70 2415
71 2485
72 2556
73 2628
74 2701
75 2775
76 2850
77 2926
78 3003
79 3081
80 3160
81 3240
82 3321
83 3403
84 3486
85 3570
86 3655
87 3741
88 3828
89 3916
90 4005
91 4095
92 4186
93 4278
94 4371
95 4465
96 4560
97 4656
98 4753
99 4851
100 4950
Resultado de la suma es:  5050